TURSO_DATABASE_URL=libsql://doctormuneeb-doctormuneebaslam.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODI1ODgzMzMsImlkIjoiMDE5ZjBhNTctZjQwMS03Y2ZkLTk0YzctNzk1MmRmN2RjNmU3IiwicmlkIjoiNjM0Njg5MjQtODY0OS00ZTdhLTgxM2ItZGJkMjk3YWEyNmMzIn0.65MrciCt8JzJ1QYQQHgbpweF66DWtJfwBJYQTEDLN5FK6shPgzPf1nXsHYy7_XBIKcUWKYq2UXM3NqD_OyIkDA
PUSHER_APP_ID=2171288
PUSHER_KEY=25cca2f974f46bb87923
PUSHER_SECRET=e90017361be738b5fc3d
PUSHER_CLUSTER=mt1
JWT_SECRET=8b9a2c7e145f0d36b8c9d2a4e156bf2b68c5b9a2c7e145f0d36b8c9d2a4e156b